.resolucion{
	width: 850px; margin: 0 auto;
}

.ui-widget{
	font-size: 82% !important;
}

.ui-widget .ui-widget{
	font-size: 100% !important;
}

body{
	font-family: lato;
}

h1 {
  color: #FF5733;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-transform: uppercase;
}