<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/template/master.xhtml">
		<ui:define name="content">
			<h1>Reporte de Personas</h1>
			<h:form target="">
				<p:chart type="pie" model="#{reporteBean.pieModel1}" style="height:500px"/>
				
				<p:commandButton value="PDF" action="#{reporteBean.generarReporte()}" ajax="false"/>
				<p:commandButton value="Ver PDF" ajax="false" action="#{reporteBean.verPDF()}"/>
				
			</h:form>
			
			<h:form target="_blank">
				<p:commandButton value="Ver PDF" action="#{reporteBean.verPDF()}" ajax="false"/>
			</h:form>
			
		</ui:define>
	</ui:composition>
</body>
</html>