<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1 style="color:#3382FF">Datos de la Cuenta</h1>
		<body>
		<div class="registrarDiv" style="width: 500px">
		<h:form id="form" enctype="multipart/form-data">
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>

			<p:panel>
				<h:panelGrid id="pg" columns="4" layout="tabular"
					styleClass="ui-panelgrid-blank">
					
					<p:outputLabel for="puFoto" value="Foto" />
					<p:fileUpload id="puFoto"
						fileUploadListener="#{usuarioBean.handleFileUpload}"
						mode="advanced" uploadIcon="Subir" cancelLabel="Cancelar"
						label="Examinar..." />
					<p:message for="puFoto" display="icon" />
					<h:column />
					
					<f:facet name="header">
						<p:graphicImage value="/imagen/#{usuarioBean.persona.idPersona}"
							width="120" height="120" />
					</f:facet>


					<p:outputLabel for="txtNombres" value="Nombres" />
					<p:inputText id="txtNombres" value="#{usuarioBean.persona.nombres}"
						required="true" />
					<p:message for="txtNombres" display="text" />
					<h:column />

					<p:outputLabel for="txtApellidos" value="Apellidos" />
					<p:inputText id="txtApellidos"
						value="#{usuarioBean.persona.apellidos}" required="true" />
					<p:message for="txtApellidos" display="text" />
					<h:column />

					<p:outputLabel for="optSexo" value="Sexo" />
					<p:selectOneRadio id="optSexo" value="#{usuarioBean.persona.sexo}"
						required="true">
						<f:selectItem itemLabel="Masculino" itemValue="M" />
						<f:selectItem itemLabel="Femenino" itemValue="F" />
					</p:selectOneRadio>
					<p:message for="optSexo" display="text" />
					<h:column />

					<p:outputLabel for="cboPais" value="Pais" />
					<p:selectOneMenu id="cboPais" value="#{usuarioBean.persona.pais}"
						filter="true" filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}"
							itemLabel="---Seleccione---" />
						<f:selectItems value="#{paisDTO.paises}" var="p" itemLabel="#{p}"
							itemValue="#{p}" />
					</p:selectOneMenu>
					<p:message for="cboPais" display="text" />
					<h:column />

					<p:outputLabel for="txtDireccion" value="Direccion" />
					<p:inputTextarea id="txtDireccion"
						value="#{usuarioBean.persona.direccion}" rows="5" cols="30"
						maxlength="250" counterTemplate="{0} caracteres restantes."
						autoResize="false" required="true" />
					<p:message for="txtDireccion" display="text" />
					<h:column />
					<h:column/>
					<p:commandButton value="Modificar Persona" action="#{usuarioBean.operarP('M')}" update="form:pg"/>
					<h:column/>
					<h:column />
					<p:outputLabel for="txtUsuario" value="Usuario" />
					<p:inputText id="txtUsuario" value="#{usuarioBean.us.usuario}"
						required="true" />
					<p:message for="txtUsuario" display="text" />
					<h:column />
			
					<h:column />
					<p:commandButton value="Modificar" action="#{usuarioBean.operar('M')}" update="form:pg"/>
					<h:column />
					
				</h:panelGrid>

				

			</p:panel>
		</h:form>
		</div>
		</body>
	</ui:define>
</ui:composition>
<h:head></h:head>
</html>